<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BG_animation_01.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{894,2},{640,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,960}}</string>
                <key>sourceSize</key>
                <string>{640,960}</string>
            </dict>
            <key>BG_animation_02.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,964},{640,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,960}}</string>
                <key>sourceSize</key>
                <string>{640,960}</string>
            </dict>
            <key>BG_animation_03.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,960}}</string>
                <key>sourceSize</key>
                <string>{640,960}</string>
            </dict>
            <key>Enter-the_but.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,193},{191,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,55}}</string>
                <key>sourceSize</key>
                <string>{191,55}</string>
            </dict>
            <key>again_but.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{227,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,66}}</string>
                <key>sourceSize</key>
                <string>{227,66}</string>
            </dict>
            <key>arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2020,2},{25,333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,333}}</string>
                <key>sourceSize</key>
                <string>{25,333}</string>
            </dict>
            <key>end_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,1126},{582,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{582,480}}</string>
                <key>sourceSize</key>
                <string>{582,480}</string>
            </dict>
            <key>end_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,644},{582,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{582,480}}</string>
                <key>sourceSize</key>
                <string>{582,480}</string>
            </dict>
            <key>infinite.png</key>
            <dict>
                <key>frame</key>
                <string>{{1856,2},{159,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,162}}</string>
                <key>sourceSize</key>
                <string>{159,162}</string>
            </dict>
            <key>list_but.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,250},{252,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,97}}</string>
                <key>sourceSize</key>
                <string>{252,97}</string>
            </dict>
            <key>number.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,145},{46,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,193}}</string>
                <key>sourceSize</key>
                <string>{46,193}</string>
            </dict>
            <key>pen.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,504},{24,370}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,370}}</string>
                <key>sourceSize</key>
                <string>{24,370}</string>
            </dict>
            <key>return_but.png</key>
            <dict>
                <key>frame</key>
                <string>{{1986,337},{196,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,56}}</string>
                <key>sourceSize</key>
                <string>{196,56}</string>
            </dict>
            <key>rope.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1926},{118,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,259}}</string>
                <key>sourceSize</key>
                <string>{118,259}</string>
            </dict>
            <key>rules_but.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,1926},{251,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,98}}</string>
                <key>sourceSize</key>
                <string>{251,98}</string>
            </dict>
            <key>score.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,70},{225,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,73}}</string>
                <key>sourceSize</key>
                <string>{225,73}</string>
            </dict>
            <key>scroll_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1050},{544,801}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{544,801}}</string>
                <key>sourceSize</key>
                <string>{544,801}</string>
            </dict>
            <key>scroll_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,504},{544,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{544,61}}</string>
                <key>sourceSize</key>
                <string>{544,61}</string>
            </dict>
            <key>scroll_032.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,145},{531,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{531,44}}</string>
                <key>sourceSize</key>
                <string>{531,44}</string>
            </dict>
            <key>share.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,1926},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>share_but.png</key>
            <dict>
                <key>frame</key>
                <string>{{1856,260},{430,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{430,128}}</string>
                <key>sourceSize</key>
                <string>{430,128}</string>
            </dict>
            <key>skip_but.png</key>
            <dict>
                <key>frame</key>
                <string>{{1986,535},{191,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,55}}</string>
                <key>sourceSize</key>
                <string>{191,55}</string>
            </dict>
            <key>start_but.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1926},{274,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,120}}</string>
                <key>sourceSize</key>
                <string>{274,120}</string>
            </dict>
            <key>switch.png</key>
            <dict>
                <key>frame</key>
                <string>{{1856,163},{140,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,95}}</string>
                <key>sourceSize</key>
                <string>{140,95}</string>
            </dict>
            <key>time_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,250},{374,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,73}}</string>
                <key>sourceSize</key>
                <string>{374,73}</string>
            </dict>
            <key>time_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,2028},{337,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{337,12}}</string>
                <key>sourceSize</key>
                <string>{337,12}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>animationImg.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2da1da579d60777b1b49a22a0f7f03ee$</string>
            <key>textureFileName</key>
            <string>animationImg.png</string>
        </dict>
    </dict>
</plist>
